html {
  height: 100%;
}

body {
  min-height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
 
}

input {
  border: #646cff4f solid 2px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ad-div {
  display: flex;

}

.container-home {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.container-home div {
  width: 25%;
}

.container-home img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.edit-prof {
  display: flex;
  width: 100%;
  font-size: 22px;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-prof p:hover {
  cursor: pointer;
  color: red;
}

.edit-prof p {
  float: right;
}

.contacts {
  margin-top: 10rem;
}

.footer {
  margin-top: 10rem;
  padding-bottom: 0;
  height: 20rem;
  width: 100%;
  background-color: darkgreen;
  color: white;
}

.main-content {
  width: 80%;
  margin: auto;
  justify-content: center;
  place-items: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
